/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

html,
body {
  height: 100%s;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-form {
  font-family: 'Oldenburg', serif;
}

.response-error {
  white-space: pre-wrap;
}

input[type=checkbox] {
  width: 25px;
  height: 25px;
}

.modal-confirm {
  max-width: 500px !important;
  width: 95%;
}
