<div class="flex justify-center p-5">
  <div class="w-full max-w-screen-sm">
    <form [formGroup]="form" (ngSubmit)="save()" class="gap-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2">
      <div class="col-span-1">
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="nova senha" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'esconder a senha'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-span-1">
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="confirme senha" formControlName="passwordConfirm">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'esconder a senha'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2 2xl:col-span-2 flex justify-end gap-5">
        <button mat-raised-button type="button" color="primary" (click)="cancel()">Cancelar</button>
        <button mat-raised-button type="submit" color="primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
